<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Adverity API Url -->
    <add key="AdverityApiUrl" value="YourAdverityApiUrl"/>
    <!-- Adverity API Token -->
    <add key="AdverityApiToken" value="YourAdverityApiToken"/>
    <!-- Adverity API user name -->
    <add key="AdverityApiUserName" value="YourAdverityApiUserName"/>
    <!-- Adverity API user password -->
    <add key="AdverityApiUserPassword" value="YourAdverityApiUserPassword"/>
  </appSettings>
</configuration>